<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="LmStudioBaseUrl" value="http://127.0.0.1:1234" />
        <add key="LmStudioTaskDescriptionModel" value="vikhr-qwen-2.5-1.5b-instruct" />
        <add key="LmStudioTaskDescriptionEnabled" value="true" />
        <add key="LmStudioTaskDescriptionTimeoutSeconds" value="45" />
        <add key="LmStudioApiToken" value="" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="WorkPlannerConnection" connectionString="Server=WIN-IT3KG728UQJ\SQLEXPRESS;Database=BrigadePlanner;Trusted_Connection=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="MaterialDesignThemes.Wpf" publicKeyToken="df2a72020bd7962a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
