<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="WorkPlannerConnection" connectionString="Server=WIN-IT3KG728UQJ\SQLEXPRESS;Database=BrigadePlanner;Trusted_Connection=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
